<div class="detail-page" *ngIf="zona">
  
  <div class="header-zona">
    <button routerLink="/zonas" class="btn-back">← Volver</button>
    <h1>Zona: {{ zona.nombre }}</h1>
    <div class="icons">🔔 👤</div>
  </div>

  <div class="gallery">
    <img [src]="getImagenRandom(zona.idZona, 1)" class="img-main">
    <img [src]="getImagenRandom(zona.idZona, 2)" class="img-secondary">
  </div>

  <div class="info-panel">
    <div class="stat">
        <label>Precio Promedio</label>
        <span>S/. {{ zona.precioPromedio }}</span>
    </div>
    <div class="stat">
        <label>Seguridad</label>
        <span>{{ zona.seguridad }}</span>
    </div>
    <div class="stat">
        <label>Transporte</label>
        <span>{{ zona.transporteDisponible }}</span>
    </div>
  </div>

  <div class="comments-section">
    <h3>Comentarios:</h3>
    <div class="comment-box">
      <input type="text" placeholder="Insertar comentario..." disabled>
    </div>

    <div class="user-comment">
      <div class="avatar">👤</div>
      <div class="text">
        <strong>User123</strong>
        <p>Zona bastante segura y tranquila, solo que algo cara para vivir.</p>
      </div>
    </div>
  </div>

</div>