<div class="profile-page">
  
  <nav class="navbar">
  <div class="logo" (click)="clickLogo()" style="cursor: pointer;">
    ViviEstu
  </div>
  
  <button (click)="cerrarSesion()" class="btn-logout">Cerrar Sesión</button>
</nav>

  <div class="profile-container">
    
    <div class="card user-card">
      <div class="avatar-circle">
        {{ usuarioNombre.charAt(0).toUpperCase() }}
      </div>
      <h2>{{ usuarioNombre }}</h2>
      <p class="user-role">Estudiante</p>
      
      <hr>

      <div class="actions">
        <button class="btn-danger" (click)="confirmarEliminacion()">
          Eliminar Cuenta
        </button>
      </div>
    </div>

    <div class="card prefs-card">
      <h3>Mis Preferencias de Vivienda</h3>
      <p class="hint">Ayúdanos a encontrar tu lugar ideal.</p>

      <div *ngIf="mensaje" class="alert-success">{{ mensaje }}</div>

      <form (ngSubmit)="guardarCambios()">
        
        <div class="form-grid">

          <div class="form-group">
            <label>Universidad / Instituto</label>
            <select [(ngModel)]="misPreferencias.universidad" name="universidad">
              <option [ngValue]="''" disabled>Selecciona tu universidad</option>
              <option [ngValue]="'UPC-Monterrico'">UPC - Monterrico</option>
              <option [ngValue]="'UPC-SanIsidro'">UPC - San Isidro</option>
              <option [ngValue]="'Ulima'">U. de Lima</option>
            </select>
          </div>

          <div class="form-group">
            <label>Presupuesto Máximo (S/.)</label>
            <input
              type="number"
              [(ngModel)]="misPreferencias.presupuesto"
              name="presupuesto">
            <input
              type="range"
              min="300"
              max="3000"
              step="50"
              [(ngModel)]="misPreferencias.presupuesto"
              name="rangePresupuesto">
          </div>

          <div class="form-group">
            <label>Tiempo máximo de viaje (minutos)</label>
            <input type="number"
                  min="5" max="90" step="5"
                  [(ngModel)]="misPreferencias.tiempoMax"
                  name="tiempoMaxInput">
            <input type="range"
                  min="5" max="90" step="5"
                  [(ngModel)]="misPreferencias.tiempoMax"
                  name="tiempoMaxRange">
          </div>

          <div class="form-group">
            <label>Medio de Transporte</label>
            <select [(ngModel)]="misPreferencias.transporte" name="transporte">
              <option [ngValue]="''" disabled>Selecciona tu medio de transporte</option>
              <option [ngValue]="'Bus'">Transporte Público (Bus, Metropolitano)</option>
              <option [ngValue]="'Caminando'">Caminando</option>
              <option [ngValue]="'Bicicleta'">Bicicleta</option>
              <option [ngValue]="'Carro propio'">Carro propio (o taxi)</option>
            </select>
          </div>

          <div class="form-group">
            <label>Nivel de Seguridad</label>
            <select [(ngModel)]="misPreferencias.seguridad" name="seguridad">
              <option [ngValue]="''" disabled>Selecciona nivel de seguridad</option>
              <option [ngValue]="'Alta'">Alta (Rejas/Vigilancia)</option>
              <option [ngValue]="'Media'">Media (Zona tranquila)</option>
            </select>
          </div>

        </div>

        <button type="submit" class="btn-save" [disabled]="isSaving">
          {{ isSaving ? 'Guardando...' : 'Guardar Preferencias' }}
        </button>
      </form>

      <div *ngIf="isLoadingPrefs" class="loading-text">
        Cargando preferencias...
      </div>

    </div>

  </div>

  <div class="modal-overlay" *ngIf="showDeleteModal">
    <div class="modal-box">
      <h3>¿Estás seguro?</h3>
      <p>Esta acción desactivará tu cuenta. Tendrás que contactar a soporte para recuperarla.</p>
      
      <div class="modal-actions">
        <button class="btn-cancel" (click)="cancelarEliminacion()">
            Cancelar
        </button>

        <button class="btn-confirm-delete" (click)="eliminarCuentaDefinitiva()">
            Sí, Eliminar
        </button>
      </div>
    </div>
  </div>

</div>
